*{
    font-family: 'Microsoft Yahei Light',  'Microsoft Yahei', '微软雅黑', "Helvetica Neue","Helvetica","Arial","Verdana","sans-serif",'Roboto Condensed';
    -webkit-font-smoothing: antialiased;
    font-weight: 200;
}


html, body{
    font-size: 14px;
}

body{
    background-color: #f1f4f9;
}

#body{
         animation: show 0.5s;
    -moz-animation: show 0.5s; /* Firefox */
 -webkit-animation: show 0.5s;  /* Safari 和 Chrome */
      -o-animation: show 0.5s;   /* Opera */
}



#body{
    width: 880px;
    height: 1400px;
    border: solid 1px #000;
    overflow: hidden;
    margin: auto;
}


.margin-auto{
    margin: auto;
}

.t-align-c{
    text-align: center;
}
.t-align-l{
    text-align: left;
}
.t-align-r{
    text-align: right;
}

.f-right{
    float: right;
}

.f-left{
    float: left;
}


.clear{
    clear: both;
}

/*    min-height: 80px; */

a{
        transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
-webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
     -o-transition: all 0.3s ease-out;
}

a:hover{
        text-decoration: none;
        transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
-webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
     -o-transition: all 0.3s ease-out;
}
a:focus{
    text-decoration: none;
}

@media (min-width: 768px){
}


@media (max-width: 768px){

}

@keyframes show
{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes show /* Firefox */
{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes show /* Safari 和 Chrome */
{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes show /* Opera */
{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}


