*{
    font-family: 'Microsoft Yahei Light',  'Microsoft Yahei', '微软雅黑', "Helvetica Neue","Helvetica","Arial","Verdana","sans-serif",'Roboto Condensed';
    -webkit-font-smoothing: antialiased;
    font-weight: 200;
}


html, body{
    font-size: 14px;
}


#body{
    height: auto !important;
    padding-top: 70px;
}

.to-top{
    background-color: #fff;
    cursor: pointer;
    margin: 0;
    padding-bottom: 10px;
        transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
-webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
     -o-transition: all 0.3s ease-out;
}

.to-top:hover{
    background-color: #eee;
        transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
-webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
     -o-transition: all 0.3s ease-out;
}
.main{
    margin-bottom: 40px;
}

.margin-auto{
    margin: auto;
}

.t-align-c{
    text-align: center;
}
.t-align-l{
    text-align: left;
}
.t-align-r{
    text-align: right;
}

.f-right{
    float: right;
}

.f-left{
    float: left;
}


.clear{
    clear: both;
}

/*    min-height: 80px; */

a{
        transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
-webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
     -o-transition: all 0.3s ease-out;
}

a:hover{
        text-decoration: none;
        transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
-webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
     -o-transition: all 0.3s ease-out;
}
a:focus{
    text-decoration: none;
}

@media (max-width: 768px){
    #float-banner{
        display: none;
    }   
}

@media (min-width: 768px){
    #float-banner{
        width: 89px;
        position: fixed;
        top: 200px;
        right: -1px;
        font-family: 'PiengHei', 'PingHei 200', noto-light, "Helvetica Neue","Helvetica","Arial","Verdana","sans-serif", 'Microsoft Yahei Light';
        background-color: #fff;
        border: solid 1px #eee;
        border-radius: 3px;
        text-align: center;
        padding: 5px 0 0;
    }
    #float-banner p{
        font-size: 12px;
        text-align: center;
    }
    #float-banner p.float-banner-item{
        border-top: solid 1px #eee;
        padding-top: 10px;
    }
    #float-banner p a{
        color:#000;
        opacity: 1;
    }
    #float-banner img{
        margin: auto;
        width: 88px
    }
}
