body{
    background-color: #f1f4f9;
}

@media (min-width: 768px){
    #fixed-widht{
        min-width: 1200px;
    }
    .navbar-default{
        background-color: rgba(255, 255, 255, 0);
        background-color: none;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .navbar-default .navbar-brand{
        color: #fff;
    }
    .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
        color: #ddd;
    }
    .navbar-default .navbar-nav>li>a{
        color: #fff;
    }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
        color: #fff;
        background-color: rgba(255, 255, 255, 0.1);
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
        color: #fff;
        background-color: rgba(255, 255, 255, 0.1);
    }
    .navbar #nav-login{
        border: solid 1px #fff;
        padding: 5px;
        font-size: 14px;
        color: #fff;
        background-color: none;
        background-color: transparent;
        background-color: rgba(204, 204, 204, 0);
            transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
    -webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
         -o-transition: all 0.3s ease-out;
    }
    .navbar-default .navbar-nav>li>a:focus>span#nav-login, .navbar-default .navbar-nav>li>a:hover>span#nav-login{
        color: #fff;
        background-color: rgba(204, 204, 204, 0.4);
            transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
    -webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
         -o-transition: all 0.3s ease-out;
    }
    .navbar #nav-login:hover{
        color: #fff;
        background-color: rgba(204, 204, 204, 0.4);
            transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
    -webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
         -o-transition: all 0.3s ease-out;
    }
}

#body{
    padding-top: 0;
}

#home-container{
    overflow: hidden;
    height: 600px;
    position: absolute;
    width: 100%;
}

#home-content{
    position: absolute;
    z-index: 1;
    margin: auto;
    width: 100%;
}

#home{
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    height: 750px;
}

#home-decoration{
    position: absolute;
    height: 1237px;
    border-style: solid;
    border-color: #f1f4f9;
    border-width: 258px 43px;
    width: 5000px;
    border-radius: 50%;
    top: -403px;
    right: -774px;
}

#program-desc{
    font-size: 38px;
    margin-top: 120px;
    font-weight: 200;
}

#program-desc-sub{
    font-size: 20px;
    width: 65%;
    margin: auto;
    padding-top: 10px;
}

#btn-reg-container{
    margin-top: 60px;
}

#btn-reg-container #btn-reg{
    background-color: #fff;
    background-image: url(http://7xk1xj.com1.z0.glb.clouddn.com/img/camera.png);
    background-repeat: no-repeat;
    background-position: 39px center;
    border-radius: 25px;
    padding: 15px 33px 15px 95px;
    font-size: 15px;
    color: #2a4251;

}

#btn-reg-container #btn-reg:hover{
    background-color: #E5E5F9;
}

.home-item{
   box-shadow: 0 0 1px 1px #ccc;
   color: #616161;
   margin: auto;
   margin-bottom: 30px;
            transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
    -webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
         -o-transition: all 0.3s ease-out;
}


.home-item:hover{
    box-shadow: 0 0 10px 4px #ccc;
            transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
    -webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
         -o-transition: all 0.3s ease-out;
}

.home-item .item-content{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}

.home-item .item-title{
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background-color: #fff;
}

.home-item .item-title .item-title-p{
    font-size: 20px;
    color: #000;
}

.home-item .item-title .item-title-s{
    font-size: 12px;
    color: #a2a2a2;
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 10px;

}

#news .item-content{
    height: 457px;
}

#startups .item-content{
    height: 350px;
}

#fund .item-content{
    height: 274px;
}

#video .item-content{
    height: 410px;
}


#programs{
    color: #fff;
    font-size: 55px;
    line-height: 410px;
}

@media (min-width: 768px){
    /*
    .container{
        min-width: 1200px;
    }
    */

    #startups{
        width: 700px;
        margin-top: 0px;
            transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
    -webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
         -o-transition: all 0.3s ease-out;

    }
    #startups:hover{
            transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
    -webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
         -o-transition: all 0.3s ease-out;

    }
    #video{
        width: 725px;
        margin-top: 30px;
        margin-right: 0px;
            transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
    -webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
         -o-transition: all 0.3s ease-out;
    }
    #video:hover{
            transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
    -webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
         -o-transition: all 0.3s ease-out;
    }
    #news{
        width: 365px;
        margin-top: -48px;
            transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
    -webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
         -o-transition: all 0.3s ease-out;
    }
    #news:hover{
            transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
    -webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
         -o-transition: all 0.3s ease-out;
    }
    #fund{
        margin-left: 74px;
        margin-top: 0;
        width: 300px;
            transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
    -webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
         -o-transition: all 0.3s ease-out;
    }
    #fund:hover{
            transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
    -webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
         -o-transition: all 0.3s ease-out;
    }
    #fund-container{
        width: 311px;
        height: 412px;
        overflow: hidden;
    }

    #fund-container iframe{
        margin-top: -148px;
        border: 0;
        width: 322px;
        height: 641px;
        margin-left: -2px;
        overflow: hidden;
    }

    .home-item a  .home-item-title{
        position: relative;
        color: #fff;
        padding: 9px 0;
        background-color: rgba(0,0,0,0.5);
        opacity: 1;
            transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;  /* Firefox 4 */
    -webkit-transition: all 0.3s ease-out;   /* Safari 和 Chrome */
         -o-transition: all 0.3s ease-out;

    }

    /*
    .home-item a:hover .home-item-title{
        background-color: rgba(0,0,0,0.5);
        opacity: 1;
            transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
    }
    */

    .more{
        /*
        background-image: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_arrow_forward_48px-128.png);
        */
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: left center;
        float: right;
        display: block;
        width: 80px;
        height: 30px;
        line-height: 30px;
        margin-top: -19px;
        margin-right: -40px;
        text-align: left;
    }

    /*
    .more:hover{
        background-position: right center;
    }

    .more span{
        opacity: 0;
    }

    .more:hover span{
        opacity: 1;
    }
    */


}

@media (max-width: 768px){
    #startups{
        width: 100%;
    }
    #video{
        width: 100%;
    }

    #programs{
        color: #fff;
        font-size: 45px;
        line-height: 85px;
        width: 100%;
    }

    #program-desc{
        font-size: 30px;
        margin-top: 120px;
        font-weight: 200;
    }
    #program-desc-sub {
        font-size: 16px;
        width: 80%;
        margin: auto;
        padding-top: 10px;
    }
    #news{
        width: 100%;
    }
    #fund{
        width: 100%;
    }
    .home-item{
       box-shadow: 0 0 1px 1px #ccc;
       background-color: #fff;
       color: #616161;
       margin: auto;
       margin-bottom: 0px;
    }
    #fund-container{
        width: 100%;
        height: 412px;
        overflow: hidden;
    }

    #fund-container iframe{
        margin-top: -131px;
        border: 0;
        width: 100%;
        height: 641px;
        margin-left: -2px;
        overflow: hidden;
    }

    .home-item-title{
        display: none;
    }

    .more{
        display: none;
    }

}

@keyframes slidedown {
    from {
        margin-top: -100px;
        opacity: 0
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

@-moz-keyframes slidedown{ /* Firefox */ 
    from {
        margin-top: -100px;
        opacity: 0
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes slidedown{ /* Safari 和 Chrome */ 
    from {
        margin-top: -100px;
        opacity: 0
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

@-o-keyframes slidedown{ /* Opera */ 
    from {
        margin-top: -100px;
        opacity: 0
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}


@keyframes show
{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes show /* Firefox */
{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes show /* Safari 和 Chrome */
{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes show /* Opera */
{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}


#slidedown1{
            animation: slidedown 0.5s ease-out;
       -moz-animation: slidedown 0.5s ease-out; /* Firefox */
    -webkit-animation: slidedown 0.5s ease-out;  /* Safari 和 Chrome */
         -o-animation: slidedown 0.5s ease-out;   /* Opera */
}

#btn-reg-container{
         animation: show 1s;
    -moz-animation: show 1s; /* Firefox */
 -webkit-animation: show 1s;  /* Safari 和 Chrome */
      -o-animation: show 1s;   /* Opera */
}

